img {
    width: 50%;
    border: solid black 2px;
    background-color: lightblue;
}
div {
    text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.list {
  border: solid black 2px;
  width: 50%;
  margin: auto;
  background-color: lightblue;
}