<h2>My Hotels</h2>

 <div>
  <label>Date From
    <input [(ngModel)]="dateFrom" type="date" ng-required="true"/>
  </label>
  <label>Date To
    <input [(ngModel)]="dateTo" type="date" ng-required="true"/>
  </label>
  <label>Room Type
    <input [(ngModel)]="roomType" ng-required="true"/>
  </label>
</div>

<ul class="heroes">
  <li *ngFor="let hotel of hotels" style="text:center;width:500px">
      <h4>Hotel: {{hotel.name}}</h4>
      <p>Address: {{hotel.address}}</p>
      <p>Rating: {{hotel.rating}}</p>
        <a [routerLink]="['/rooms', roomType, dateFrom, dateTo, hotel.name]">
          <button style="text:left;width:100px;background-color:#4682B4;color:black">
            Submit for {{hotel.name}}
          </button>
        </a>
  </li>
</ul>
