<h2>My Hotels</h2>

 <div>
  <label>Date From
    <input [(ngModel)]="dateFrom" type="date"/>
  </label>
  <label>Date To
    <input [(ngModel)]="dateTo" type="date"/>
  </label>
  <label>Hotel Name
    <input [(ngModel)]="hotelName"/>
  </label>
  <label>Room Type
    <input [(ngModel)]="roomType"/>
  </label>
  <button>
    <a [routerLink]="['/rooms', roomType, dateFrom, dateTo, hotelName]">Submit for Rooms</a>
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hotel of hotels" style="text:center;width:500px">
      <h4>Hotel: {{hotel.name}}</h4>
      <p>Address: {{hotel.address}}</p>
      <p>Rating: {{hotel.rating}}</p>
  </li>
</ul>
