<h2>My Hotels</h2>

 <div>
  <label>Date From
    <input type="date" ng-value="dateFrom" />
  </label>
  <label>Date To
    <input type="date" ng-value="dateTo" />
  </label>
  <label>Hotel Name
    <input ng-value="hotelName" />
  </label>
  <label>Room Type
    <input ng-value="roomType" />
  </label>
  <button>
    <a routerLink="/rooms/{roomType}{dateFrom}{dateTo}{hotelName}">Submit for Rooms</a>
  </button>
</div>



<ul class="heroes">
  <li *ngFor="let hotel of hotels" style="text:center;width:500px">
      <h4>Hotel: {{hotel.name}}</h4>
      <p>Address: {{hotel.address}}</p>
      <p>Rating: {{hotel.rating}}</p>
  </li>
</ul>
