<h2>My Available Rooms</h2>
 
<ul class="heros">
  <li *ngFor="let room of rooms">
  <!-- here is where to add new reservation, but need to do it based on hotel, room, and dates -->
    <a routerLink="/reservation-detail/{room.dateFrom}{room.dateTo}{room.hotelName}{room.roomNumber}{room.price}">
      <span class="badge">#    {{room.id}}</span><span>Room:     {{room.roomNumber}}</span>
      <span>Hotel:    {{room.hotelName}}</span><span>Type:     {{room.roomType}}</span>
      <span>Price:      {{room.price | currency}}</span>
    </a>
  </li>
</ul>

