<div *ngIf="reservation">
  <h2> Reservation {{ reservation.reservationNumber }}</h2>
  <div><span>Room Number: </span>{{reservation.roomNumber}}</div>
  <div><span>Date From: </span>{{reservation.dateFrom | date}}</div>
	<div><span>Date To: </span>{{reservation.dateTo | date}}</div>
	<div><span>Paid: </span>{{reservation.paid}}</div>
	<div><span>Hotel Name: </span>{{reservation.hotelName}}</div>
	<div><span>Cost: </span>{{reservation.cost}}</div> <!-- * reservation.days | currency}} </div>-->


<button (click)="addReservation(reservation)" [disabled]="disabled">Confirm Reservation {{ reservation.reservationNumber }}</button>
<a routerLink="/hotels"><button>Exit</button></a>
</div>
