<h1>{{title}}</h1>
<nav>

<a routerLink="/hotels"><button>Guest View for Hotels</button></a>


<form  #loginForm="ngForm" novalidate>
 <div>
  <label>Admin Hotel
  	<select [(ngModel)]="hotelName"  name="hotelName" required>
    	<option value="Taj">Taj</option>
    	<option value="Marriott">Marriott</option>
    	<option value="Hilton">Hilton</option>
    	<option value="Ritz Carlton">Ritz Carlton</option>
  	</select>
  </label>
  <a [routerLink]="['/adminreservations',hotelName]">
      <button [disabled]="loginForm.form.invalid">
       Submit for Admin View
      </button>
   </a>
</div>
</form>
</nav>
<router-outlet></router-outlet>
