/* AppComponent's private CSS styles */
h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

button{
  text:left;
  width:100px;
  background-color:#4682B4;
  color:black;
}

button:disabled,button[disabled]{
  background-color:#9FCCF3 !important;
  color:grey !important;
  cursor:not-allowed !important;
}

button:hover {
  background-color: #cfd8dc !important;
  cursor: pointer;
}
